<p style="color: green"><%= notice %></p>
<div style="text-align: center">
<h1>Customers</h1>

<%= search_form_for( @q, url: '/search', method: "get") do |form| %>

  <div>
    <%= form.label :name_cont, style: "display: block" %>
    <%= form.text_field :name_cont %>
  </div>

  <div>
    <%= form.label :village_cont, style: "display: block" %>
    <%= form.text_field :village_cont %>
  </div>

  <div>
    <%= form.label :bags_cont, style: "display: block" %>
    <%= form.text_field :bags_cont %>
  </div>

  <div>
    <%= form.label :phone_cont, style: "display: block" %>
    <%= form.text_field :phone_cont %>
  </div>

  <div>
    <%= form.submit 'Search customer' %>
  </div>
<% end %>



<%= link_to "New customer", new_customer_path %>
</div>
