<h3>Search Results</h3>
<div class="table-responsive">
<table class="table table-bordered table-hover">
 <tr>
   <th>
     Name
   </th>
   <th>
     Village
   </th>
   <th>
     Bag
   </th>
   <th>
     Phone Number
   </th>
   <th>
     Date
   </th>
   <th>
    show user
   </th>
 </tr>

  
<% @results.each do |result| %>
   <tr>
     <td><%= result.name %></td>
     <td><%= result.village %></td>
     <td><%= result.bags %></td>
     <td><%= result.phone %></td>
     <td><%= result.date.strftime("%d/%m/%y") if not result.date.nil?%></td>
     <td><%= link_to "show", customer_path(result)%></td>
   </tr>

<% end %>
</table>
</div>